<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elegant_touch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Elegant Touch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elegant_Touch"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".product.SaloonActivity"
            android:exported="true" />
        <activity
            android:name=".Dashboard.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Dashboard.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".Dashboard.CategoryActivity"
            android:exported="true" />
        <activity
            android:name=".LoaderActivity"
            android:exported="true" />
        <activity android:name=".Account.RegisterActivity" />
        <activity android:name=".Account.LoginActivity" />
        <activity android:name=".Account.WelcomeActivity" />
        <activity android:name=".Splash_Screen.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dashboard.DashboardActivity"></activity>
        <activity android:name=".Onboarding_Screen.OnboardingScreenActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>